.head{
    text-align: center;
}
.subhead{
    text-align: center;
}

.vijay{
    height: 325px;
}
p{
    text-align: center;
}
.master{
  margin-left: 120px;
}
.maanadu{
    margin-left: 120px;
}
.lovetoday{
    margin-left: 120px;
}

.love{
    width:30%;

}
.vikram{
    width:30%;

}
.master{
    width:30%;

}
.maanadu{
    width:30%;

}





@media only screen and (max-width: 600px) {
    .head{
        text-align: center;
    }
    .subhead{
        text-align: center;
    }
    .button{
        text-align: center;
    }
    .master{
        margin-left: 120px;
      }
      .maanadu{
        margin-left: 120px;
    }
    .lovetoday{
        margin-left: 120px;
    }


  }



